.PP-title {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

.PP-subtitle {
    display: flex;
    font-size: large;
    text-align: center;
    align-items: center;
    color: rgb(39, 85, 115);
}

.PP-lineatemp {
    position: relative;
    width: 85%;
    height: 100%;
    margin: 0 auto;
}

.PP-fila {
    display: flex;
    justify-content: start;
    position: relative;
    padding: auto;
}

.PP-fila .PP-info-container {
    flex: 1;
    margin-left: 10px;
}

.PP-fila .PP-info-container>div {
    margin-bottom: 5px;
}

.PP-fila .PP-subtitle2 {
    font-size: 13.5px;
    color: var(--secondary-blue);
    text-align: center;
    width: 60%; 
    font-style: italic;
}

.PP-fila .PP-disco {
    width: 36px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}

.PP-fila .PP-disco:after {
    content: '';
    position: absolute;
    top: 0;
    left: calc(50% - 2px);
    height: 100%;
    width: 3px;
    background: var(--third-blue);
    z-index: -1;
}

.PP-fila:first-child .disco:after {
    height: 50%;
    top: 50%;
}

.PP-fila:last-child .disco:after {
    height: 50%;
}

.PP-fila:hover .PP-disco>div {
    border: 10px solid var(--primary-blue);
    background: white;
    border-radius: 50%;
}

@media (max-width: 767px) {
    .contenedo {
      grid-template-columns: 1fr;
    }
  }
